matrix:
  include:
    - os: linux
      dist: xenial
      sudo: false
    - os: linux
      dist: trusty
      sudo: false
    - os: osx
      before_install:
        - brew update
        - brew list protobuf &>/dev/null || brew install protobuf
addons:
  apt:
    packages:
      - libprotobuf-dev
      - protobuf-compiler
language: ruby
rvm:
  - 2.6.3
  - 2.5.5
  - 2.4.6
  - 2.3.8
  - rbx-3
script:
  - rake spec
